<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cute♥DOG</title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-blue fixed-top bg-dark">
        <a class="navbar-brand" href="#">Cute♥DOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">LINK</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="https://www.stou.ac.th/main/index.html">STOU</a>
                <a class="dropdown-item" href="https://ict.stou.ac.th/">ICT-STOU</a>
                <a class="dropdown-item" href="https://www.facebook.com/stoucallcenter/">FB STOU callcenter</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h3 class="display-3">10 สายพันธุ์สุนัขน่าเลี้ยง</h3>
            <p><div class="alert alert-info" role="alert">
              ขอบคุณข้อมูลจาก <a href="https://www.sanook.com/women/18510/" class="alert-link">Sanook.com</a> <<<คลิกเพื่อดูข้อมูลเพิ่มเติม
            </div></p>
            <p><img src="https://s.isanook.com/wo/0/rp/r/w728/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL3dvLzAvdWQvMy8xODUxMC90b3BfdGVuX2RvZ3NfbWFpbl9waWMuanBn.jpg" class="img-fluid"></p>
                 </div>
        </div>
      
        <div class="container">
          <!-- Example row of columns -->
          {% for post in test %}
            <div class="alert alert-primary"> 
                                          
            <div class="card text-info bg-light mb-3">
                <div class="card-header text-light bg-info mb-3">
                <h5 casls="card-title">{{post.title}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.body}}</p>
                    <a href="#" class="btn btn-success">ดูรายละเอียด</a>
                    </div>
                </div>
            </div>
            {% endfor %}
          <hr>
      
        </div> <!-- /container -->
      
      </main>
      
      <footer class="container">
        <p><div class="alert alert-danger" role="alert">
          &copy;น.ส.ชญานิษฐ์   เมืองสง 2649600059 ICT-STOU
        </div></p>
      </footer>

    

    
        
        
        <hr/>
   </body>
</html>